#############################
### VCS
#############################
.git
.gitignore
.gitkeep

#############################
### Docker
#############################
.dockerignore
Dockerfile
compose.*.yaml
compose.yaml

#############################
### PHP
#############################
/vendor