#############################
### IDE
#############################
# PhpStorm
/.idea

#############################
### Docker
#############################
# Currently used profile
/compose.override.yaml

#############################
### PHP / Symfony
#############################
# Vendors
vendor

# Cache and logs
var

# Code quality tools cache files
/.phpunit.result.cache
/.php-cs-fixer.cache

# Front-end bundles
public/bundles

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
